APP_NAME=
APP_VERSION=
APP_DEBUG=
APP_ENV=
APP_CACHE_DIR=tmp/var
ROUTE_CACHE_ENABLED=1
ROUTE_CACHE_PATH=tmp/var/routes.cache.php
DI_CACHE_ENABLED=1
DI_CACHE_DIR=tmp/var/container
DI_PROXY_ENABLED=1
DI_PROXY_DIR=tmp/var/container/proxies
TEMPLATE_CACHE_ENABLED=1
TEMPLATE_CACHE_DIR=tmp/var/templates
TEMPLATE_CACHE_TTL=900
DOCTRINE_CACHE_ENABLED=1
DOCTRINE_CACHE_DIR=tmp/var/doctrine/cache
DOCTRINE_CACHE_NAMESPACE=slim_access_control
DOCTRINE_PROXY_DIR=tmp/var/doctrine/proxies
DB_DRIVER=
DB_PORT=
DB_HOST=
DB_NAME=
TEST_DB_NAME=
DB_USER=
DB_PASS=
DB_CHARSET=
DB_COLLATION=
DB_VERSION=
DB_AUTO_SYNC=1
MAILER_DSN=
MAILER_FROM=
APP_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
S3_KEY=
S3_SECRET=
S3_REGION=
S3_VERSION=
S3_ENDPOINT=
S3_BUCKET=
TOKEN_SECRET=
TOKEN_ALGORITHM=
REACT_APP_API_URL=
REACT_DEV_SERVER=http:
REACT_ASSET_PUBLIC_PREFIX=
REACT_ASSET_BUILD_PATH=
